
<div *ngIf="request">
    <h2><span jhiTranslate="flightApp.request.detail.title">Request</span> {{request.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="flightApp.request.name">Name</span></dt>
        <dd>
            <span>{{request.name}}</span>
        </dd>
        <dt><span jhiTranslate="flightApp.request.traveldate">Traveldate</span></dt>
        <dd>
            <span>{{request.traveldate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="flightApp.request.destination">Destination</span></dt>
        <dd>
            <span>{{request.destination}}</span>
        </dd>
        <dt><span jhiTranslate="flightApp.request.state">State</span></dt>
        <dd>
            <span>{{request.state}}</span>
        </dd>
        <dt><span jhiTranslate="flightApp.request.registrationdate">Registrationdate</span></dt>
        <dd>
            <span>{{request.registrationdate | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'request/'+ request.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
