<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myRequestLabel" jhiTranslate="flightApp.request.home.createOrEditLabel">Create or edit a Request</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!request.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="request.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="flightApp.request.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="request.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="flightApp.request.traveldate" for="field_traveldate">Travel date</label>
            <div class="d-flex">
                <input id="field_traveldate" type="datetime-local" class="form-control" name="traveldate" [(ngModel)]="request.traveldate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="flightApp.request.destination" for="field_destination">Destination</label>
            <input type="text" class="form-control" name="destination" id="field_destination"
                [(ngModel)]="request.destination" />
        </div>
        <div class="form-group" [hidden]="!request.id">
            <label class="form-control-label" jhiTranslate="flightApp.request.state" for="field_state">Status</label>
            <input type="text" class="form-control" name="state" id="field_state"
                [(ngModel)]="request.state" />
        </div>
        <!--div class="form-group">
            <label class="form-control-label" jhiTranslate="flightApp.request.registrationdate" for="field_registrationdate">Registrationdate</label>
            <div class="d-flex">
                <input id="field_registrationdate" type="datetime-local" class="form-control" name="registrationdate" [(ngModel)]="request.registrationdate"
                />
            </div>
        </div-->

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
