<div class="row">
    <div class="col-md-8">
        <h1 class="display-4" jhiTranslate="home.title">Welcome, Flight Request</h1>
    </div>

    <div class="col-md-4">
        <button class="btn btn-primary float-right jh-create-entity create-request" [routerLink]="['/', { outlets: { popup: ['request-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="flightApp.request.home.createLabel">
            Create new Request
            </span>
        </button>
    </div>
</div>
